.match-layout {
    border-bottom: solid;
    padding: 5px;
    margin-bottom: 20px;
}
.match-title {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
.match-title p{
    font-size: 1.7em;
    margin-right: 10px;
    color: goldenrod;
}
.youtube-holder {
    max-width: 600px;
    margin: auto;
}

.match-banner {
    width: 100%;
    max-width: 300px;
    float: right;
    margin-bottom: 5px;
    margin-left: 10px;
}