.swiped-card-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.swiped-card-layout h3{
font-size: 2em;
}

.swiped-cards {
    display: flex;
    flex-direction: column;
    background-color: #0d1524;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 200px;
    width: 100%;
}
.swiped-cards h4{
    color: goldenrod;
}
.swiped-cards:nth-child(odd) {
    background: goldenrod;
    color: #0d1524;
  }
  .swiped-cards:nth-child(odd) h4 {
    color: #0d1524;
  }
  .swiped-cards:nth-child(odd) p, .swiped-cards:nth-child(odd) span  {
    color: #000;
  }
  

.swiped-cards .swipe-opinion {
    display: flex;
}
.swiped-cards .swipe-opinion span {
    margin-left: 5px;
}

.swiped-cards .swipe-delete {
    margin-left: auto;
    cursor: pointer;
}