.swiped-card-layout {
    display: flex;
    flex-direction: row;
    max-width: 75vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.swiped-cards {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 200px;
    width: 100%;
}

.swiped-cards .swipe-opinion {
    display: flex;
}
.swiped-cards .swipe-opinion span {
    margin-left: 5px;
}

.swiped-cards .swipe-delete {
    margin-left: auto;
}