.home-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.home-layout .tagline,
.home-layout h3 {
  font-size: 2em;
  color: #fff;
}
.home-layout .glow-button {
  margin-top: 10px;
}

.home-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 465px;
}
.home-grid a {
  width: 190px;
  border: double goldenrod;
  padding: 30px 10px;
  border-radius: 15px;
  margin: 10px 20px;
  color: goldenrod;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-grid a span {
  margin-left: 5px;
  font-size: 1.6em;
}
.home-grid a:hover {
  border: solid #1190be;
}

@media only screen and (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}
