.add-friend-form {
  margin-top: 10px;
}
.add-friend-form button {
  margin: 10px auto;
}

.friend-email-input {
  display: flex;
  flex-direction: column;
}

.friend-email-input button {
  margin-top: 5px;
}
