.settings-modal {
  min-width: 25vw;
  max-width: 50vw;

  max-height: 600px;
  position: relative;
}
.settings-options {
  overflow: auto;
  max-height: 400px;
  min-height: 200px;
}

.settings-modal h4 {
  display: flex;
  cursor: pointer;
  margin-top: 5px;
}

.genre-options {
  display: none;
}

.show-genre-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.show-genre-options input {
  margin-left: 5px;
}

.settings-modal .glow-button {
  display: flex;
  margin: 5px auto;
}
