.settings-modal {
  min-width: 25vw;
  max-width: 50vw;
}

.settings-modal h4 {
  display: flex;
  cursor: pointer;
  margin-top: 5px;
}

.genre-options {
  display: none;
}

.show-genre-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.show-genre-options div {
  margin-left: 5px;
}

.settings-modal .glow-button {
  display: flex;
  margin: 5px auto;
}
